<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
     <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <script src="http://fabricjs.com/build/files/text,gestures,easing,parser,freedrawing,interaction,serialization,image_filters,gradient,pattern,shadow,node.min.js"></script>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body ng-app="fp" ng-controller="MainCtrl as main">
 	<div class="row">
 		<div class="col col-sm-4">
 			<button class="btn" ng-click="main.undo()">Undo</button>
 			<button class="btn" ng-click="main.redo()">Redo</button>
 			<button class="btn" data-toggle="modal" data-target="#saveModal">Save</button>
 			<button class="btn" data-toggle="modal" data-target="#loadModal">Load</button>
 			<br>
 			<br>
 			Edit History:
 			<div id="edit-history">
 				<br>
 				<div class="col col-sm-3" id="undo">
 					Undo History:
 					<table class="table">

 						<tr ng-repeat="undo in undoHistory | orderBy:'id':true"><td>{{undo[0]}}</td></tr>
 					</table>
 				</div>
 				
 				<div class="col col-sm-3" id="redo">
 					Redo History:
 					<table class="table">
 						<tr ng-repeat="redo in redoHistory | orderBy:'id':true"><td>{{redo[0]}}<td></tr>
 					</table>
 				</div>
 			</div>
 		</div>

 		<div class="col col-sm-6">
 			<canvas id="c"></canvas>
 		</div>
 	</div>
 	<br>
 	<div class="row">
 		<div class="col col-sm-4">
 			Add Image:
 			<br>
 			<form id="uploadForm" enctype="multipart/form-data" action="/" method="post">
				<input id="upload" type="file" accept="image/*" name="userFile"/> 	
			</form>	
 		</div>
 		<div class="col col-sm-4">
 			Add Text:
 			<br>
 			<textarea class="form-control" rows="1" id="addInput"></textarea>	
 			<br>
 			<button class="btn" ng-click="main.addtext()">Add Text</button>
 			<br>
 			Edit Text:	
 			<br>
 			<textarea class="form-control" rows="1" id="editInput"></textarea>	
 			<br>	
 		</div>
 		<div class="col col-sm-4">
 			Delete selected
 			<br>
 			<button class="btn" ng-click="main.removeCanvasObject()">Delete</button>	
 		</div>

 	</div>

 	<div id="saveModal" class="modal fade" role="dialog">
 		<div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Modal Header</h4>
	      </div>
	      <div class="modal-body">
	        Save design:

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>

	  </div>
 	</div>

 	<div id="loadModal" class="modal fade" role="dialog">
 		<div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Modal Header</h4>
	      </div>
	      <div class="modal-body">
	        Load a design:
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>

	  </div>
 	</div>

    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/fabricFunctions.js"></script>
  </body>
</html>
