body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.canvas-container{
	border: 1px solid;
}

textarea{
	width: 100%;
	resize: none;
}

#edit-history{
	max-height:50vh;
	overflow-y: auto;
}